/* My very first own CSS stylesheet */

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1.4;
  font-size: 0.9rem;
}

a {
  color: black;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
