* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1.4;
  font-size: 0.9rem;
}

a {
  color: black;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.button {
  font-family: monospace;
  padding: 6px 12px;
}
